*,
*::after,
*::before {
  box-sizing: border-box;
}

/* FONTS */
/* Integral CF Bold Font */
@font-face {
  font-family: "Integral CF";
  src: url("/fonts/integral-cf-bold.woff2") format("woff2"),
    url("/fonts/integral-cf-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Satoshi Regular Font */
@font-face {
  font-family: "satoshi";
  src: url("/fonts/satoshi-regular.woff2") format("woff2"),
    url("/fonts/satoshi-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Satoshi Medium Font */
@font-face {
  font-family: "satoshi";
  src: url("/fonts/satoshi-medium.woff2") format("woff2"),
    url("/fonts/satoshi-medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Satoshi Bold Font */
@font-face {
  font-family: "satoshi";
  src: url("/fonts/satoshi-bold.woff2") format("woff2"),
    url("/fonts/satoshi-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body,
h1,
h2,
h4,
p {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "satoshi", serif;
}

/* SECTION HERO */
.section-hero {
  display: flex;
  justify-content: center;
  background-color: rgb(242, 240, 241);
}

.hero-container {
  max-width: 490px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero-cta {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-title {
  font-family: "Integral CF";
  font-size: 36px;
  line-height: 0.95;
}

.hero-description {
  font-size: 14px;
  line-height: 1.43;
  color: rgba(0, 0, 0, 0.6);
}

.btn {
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 16px 54px;
  border-radius: 62px;
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255);
  cursor: pointer;
}

.counter-box {
  max-width: 278px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
}

.counter {
  display: flex;
  flex-direction: column;
}

.counter-value {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
}

.counter-description {
  font-size: 12px;
  line-height: 1.84;
  color: rgba(0, 0, 0, 0.6);
}

.counter-box .counter:nth-child(1) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.counter-box .counter:nth-child(2) {
  text-align: right;
}

.counter-box .counter:nth-child(3) {
  grid-area: 2 / 1 / 3 / 3;
  justify-self: center;
}

/* Hero image */
.hero-image {
  position: relative;
}

.hero-image::before,
.hero-image::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("/icons/black-star.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image::before {
  width: 76px;
  height: 76px;
  top: 35px;
  right: 20px;
}

.hero-image::after {
  width: 44px;
  height: 44px;
  top: 125px;
  left: 20px;
}

/* BRAND LOGOS */
.section-brand {
  display: flex;
  justify-content: center;
  padding: 38px 16px;
  background-color: rgb(0, 0, 0);
}

.brand-container {
  max-width: 490px;
  width: 100%;
}

.list-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  column-gap: 30px;
}

/* MAIN SECTION | ITEMS */
.section-product {
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px;
}

.product-flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.devider-el {
  align-self: center;
  --margin-inline: 32px;
  width: calc(100% - var(--margin-inline));
  height: 1px;
  margin: 50px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.product-container {
  max-width: 490px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}

.arrivals-subtitle {
  font-family: "Integral CF", serif;
  font-size: 32px;
  text-align: center;
}

.list-new__arrivals {
  width: auto;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  margin-left: 16px;
}

.product-card {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Product Info */
.cloth-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.product-title {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-star {
  display: flex;
  gap: 3px;
}

.rating-number {
  font-size: 12px;
}

.total-star {
  opacity: 0.6;
}

.product-pricing {
  font-size: 20px;
  display: flex;
  gap: 5px;
}

.product-price {
  font-weight: 600;
}

.product-original-price {
  color: rgba(0, 0, 0, 0.4);
}

.product-discount {
  font-size: 10px;
  color: rgb(255, 51, 51);
  padding: 6px 14px;
  border-radius: 62px;
  background-color: rgba(255, 51, 51, 0.1);
}

/* Product Image */
.product-image {
  width: 198px;
  height: 200px;
  border-radius: 24px;
  overflow: hidden;
}

.product-image img {
  height: 100%;
  object-fit: cover;
}

/* Button */
.product-container .btn {
  --margin-inline: 36px;
  align-self: center;
  width: calc(100% - var(--margin-inline));
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* BREAKPOINTS */
/* DESKTOP: 1280PX */
@media screen and (min-width: 1280px) {
  /* SECTION HERO */
  .section-hero {
    max-width: 1440px;
    width: 100%;
    height: 663px;
    position: relative;
    margin: 0 auto;
    background-color: transparent;
  }

  .hero-container {
    max-width: 1239px;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .hero-content {
    flex-basis: 596px;
    gap: 40px;
  }

  .hero-title {
    font-size: 64px;
    line-height: 1;
  }

  .hero-description {
    font-size: 16px;
    line-height: 1.38;
  }

  .btn {
    width: auto;
    align-self: flex-start;
    padding: 16px 68px;
  }

  .counter-box {
    max-width: initial;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
    column-gap: 40px;
  }

  .counter-box .counter:nth-child(3) {
    grid-area: initial;
    justify-self: start;
  }

  .counter-box .counter:nth-child(2) {
    text-align: left;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .counter-value {
    font-size: 40px;
  }

  .counter-description {
    font-size: 16px;
    line-height: 1.38;
  }

  /* Hero image */
  .hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .hero-image img {
    height: 100%;
    object-fit: cover;
  }

  .hero-image::before {
    width: 104px;
    height: 104px;
    top: 90px;
    right: 90px;
  }

  .hero-image::after {
    width: 56px;
    height: 56px;
    left: initial;
    right: 625px;
    top: 300px;
  }

  /* BRAND LOGOS */
  .section-brand {
    padding: 42px 0;
  }

  .brand-container {
    max-width: 1239px;
  }

  .list-logos {
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 38px;
  }

  .part-logo {
    height: 100%;
  }

  .part-logo img {
    height: 100%;
  }

  /* MAIN SECTION | ITEMS */
  .devider-el {
    margin: 60px 0;
  }

  .arrivals-subtitle {
    font-size: 45px;
  }

  .product-container {
    max-width: 1239px;
    gap: 50px;
  }

  .list-new__arrivals {
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }

  .product-card {
    gap: 15px;
  }

  .product-title {
    font-size: 20px;
  }

  .cloth-info {
    gap: 6px;
  }

  .rating-star {
    width: 18px;
    height: 18px;
  }

  .rating-number {
    font-size: 14px;
  }

  .product-pricing {
    font-size: 24px;
    gap: 10px;
  }

  .product-price {
    font-size: 24px;
  }

  .product-discount {
    font-size: 12px;
  }

  /* Image */
  .product-image {
    width: 295px;
    height: 298px;
  }

  /* Button */
  .product-container .btn {
    width: 218px;
  }
}
